@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #03192E;
  color: #FFF;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

:root {
  --gradient-color: linear-gradient(45deg, #F47850, #FFA93A);
}

button {
  font-family: 'Poppins', sans-serif;
  color: #04223e;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #FFF;
  padding: 5px;
}

a:hover, button:hover {
  opacity: .7;
}

.navbar {
  list-style-type: none;
  padding: 0px 10px;
}

.navbar .nav-item:not(:last-child) {
  float: left;
  padding: 10px;
  font-weight: 500;
}


.navbar .nav-item-link {
  float: right;
  padding: 10px 15px;
  margin: 15px;
  background-color: #F47850;
  border-radius: 8px;
}

.hero-section {
  background-color: #04223E;
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16.8em 0 14.8em 0;
  border-radius: 0 0 50px 50px;

}

.hero-title {
  font-size: 80px;
  margin: 15px;
}

.hero-description {
  font-size: 30px;
  margin: 20px;
}

.hero-btn {
  font-size: 25px;
  background: var(--gradient-color);
}

.hero-btn-link {
  color: #04223E;
}

.s-m-section {
  background: var(--gradient-color);
  padding: 20px;
}


.s-m-title {
  margin: 20px;
}

.s-m-descritpion {
  font-weight: 400;
  margin: 0 0 40px 0;
}

.s-m-btn {
  border: 2px solid #03192e;
  color: #03192e;
  padding: 8px 20px;
  background: 0;
}

.s-m-btn-2 {
  background-color: #03192e;
  color: #F47850;
  margin-bottom: 28px;
}

.time-load-section {
  background: linear-gradient(0deg, #E6F0FA 40%, #03192E 40%);
  padding: 100px 0;
}

.card {
  padding: 60px;
  border-radius: 10px;
  background: #FFF;
  color: #414f7b;
  margin: 15px;
  box-shadow: -1px 1px 20px 2px #00000030;
  transition: all 0.4s ease-in;
}

.card:hover {
  transform: translateY(-7px);
}

.statics-section {
  background-color: #E6F0FA;
  color: #03192E;
  padding: 0 100px 100px 100px;
}

.statics-description {
  margin: 12px 0 50px 0;
}

.statics-rows {
  flex: 33.33%;
}

.features-section {
  padding: 85px 60px;
  background-image: url("./img/wave.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.features-card {
  padding: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.row_4 {
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.container-title {
  margin-bottom: 42px;
}

.footer__text a {
  font-weight: 500;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }

  .row_4 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    min-width: 970px;
  }
  .row_4 {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

@media (min-width: 576px) {
  .card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .statics-rows {
    flex: 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }

  .row_4 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 80%;
  }
  .statics-rows {
    flex: 33.33%;
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
  .row_4 {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .card {
    -ms-flex: 0 0 45%;
     flex: 0 0 45%; 
     max-width: 45%;
  }
  .statics-rows {
    flex: 33.33%;
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
  .row_4 {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .logo-pie{
    display: none;
  }

  .hero-section {
      padding: 150px 0 260px 0;
  }

  .hero-title {
    margin-top: 100px;
    font-size: 60px;
  }

  .nav-item-link {
    margin-top: 50px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-btn-link {
    font-size: 18px;
  }

  .navbar {
    padding: 0;
  }

  .statics-section {
    padding: 70px 0;
  }
  .row_4 {
    width: 45%;
  }
}

.footer__text {
  padding: 12px;
}

.card-timing {
  font-size: 38px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.not-active {
  margin-bottom: 0;
}

.card-image {
  min-height: 200px;
  object-fit: contain;
}

.features-desciption {
  margin: 12px 0 50px 0;
}

.card-icon {
  font-size: 150px;
  margin-bottom: 32px;
}

.card-description {
  text-align: center;
}

.statics-desc {
  font-weight: 500;
}

@media only screen and (max-width: 46.1875em) {
  .row_4 {
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .hero-section {
    padding: 120px 0 120px 0;
  }

  .hero-title {
    margin-top: 0px;
  }

  .hero-btn {
    margin-top: 40px;
  }

  .features-section {
    padding: 85px 10px;
  }

  .card {
    width: 95%;
    padding: 60px 10px;
  }
}